*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand'; */
}

body{
    background: url(images/yemi-wallington-Iys8Fitaq_Q-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header{
    width: 100%;
    height: 100px;
    display: flex; /* spreads out the items */
    justify-content: space-between;  /* used to align flex items along the main axis of the container and distributes evenly with space in-between them but no space at the start or end of the container. */
    align-items: center;   /*centers items along the cross axis*/
    position: fixed; /* element is positioned relative to the viewport and remains that way even when scrolled */
    z-index: 99;  /* works with position other than 'static', affects what elements will come first */ 
    box-shadow: 0 0 10px #000; /* adds shadow effects around an element's frame */
    background: rgba(0, 0, 0, 0.5);
}

#chk1{
    display: none; /* does not display the checkbox */
}

span{
    color: goldenrod;
    cursor: pointer;
}

header .logo{
    font-family: 'MonteCarlo';
    flex: 1;  /* (flex-grow) which enables the flex item to grow if necessary */
    color: moccasin;
    margin-left: 50px; /* adds space between the logo and the end of the navbar */
}

header .search-box{
    flex: 1;  /* (flex-grow) which enables the flex item to grow if necessary */
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    outline: none;
    background: moccasin;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute; /* moves the button up and to the right */
    top: 0;  /* element is positioned 0 pixels from the top */
    right: 0; /* element is positioned 0 pixels from the right edge */
    transform: scale(0.9); /* scales the element to 90% of it */
    background: #000;
}

