*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Quicksand'; */
}

body{
    background: url(images/yemi-wallington-Iys8Fitaq_Q-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header{
    width: 100%;
    height: 100px;
    display: flex; /* spreads out the items */
    justify-content: space-between;  /* used to align flex items along the main axis of the container and distributes evenly with space in-between them but no space at the start or end of the container. */
    align-items: center;   /*centers items along the cross axis*/
    position: fixed; /* element is positioned relative to the viewport and remains that way even when scrolled */
    z-index: 99;  /* works with position other than 'static', affects what elements will come first */ 
    box-shadow: 0 0 10px #000; /* adds shadow effects around an element's frame */
    background: rgba(0, 0, 0, 0.5);
}

#chk1{
    display: none; /* does not display the checkbox */
}

span{
    color: goldenrod;
    cursor: pointer;
}

header .logo{
    font-family: 'MonteCarlo';
    flex: 1;  /* (flex-shrink) which enables the flex item to shrink if necessary */
    color: moccasin;
    margin-left: 50px; /* adds space between the logo and the end of the navbar */
    font-size: 16px;
}

header .search-box{
    flex: 1;  /* (flex-shrink) which enables the flex item to shrink if necessary */
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    outline: none;
    background: moccasin;
    color: #000;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute; /* moves the button up and to the right */
    top: 0;  /* element is positioned 0 pixels from the top */
    right: 0; /* element is positioned 0 pixels from the right edge */
    transform: scale(0.9); /* scales the element to 90% of it */
    background: #000;
}

header ul{
    flex: 2;  /* allows the item to grow if necessary */
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    font-family: 'Quicksand';
    text-decoration: none;
    color: moccasin;
    font-weight: 600;
    padding: 10px 15px;
    transition: .3s ease;
}

header ul li a:hover{
    border-bottom: 2px solid goldenrod;
    transform: scale(0.9);
}

header .menu{
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px){  /* media queries help create a responsive design that adapts to different screen sizes */
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;  /*  initially off the screen to the right, put it as '0' at first then change to -100% so that it slides to the left*/
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px); /* takes the full viewport height minus 100px */
        width: 50%;  /* takes 50% of the viewport width */
        flex-direction: column;  /* flex items are aligned verically */
        align-items: center;  /*  items are center aligned along the cross-axis*/
        transition: right 0.5s linear;  /*  Smooth transition for the 'right' property over 0.5 seconds*/
    }
    header .menu{
        display: block;  /* the menu element will be displayed as a block */
        width: 100px;  /* fixed width of 100px */
        text-align: center;  /* centers the text */
    }
    #chk1:checked ~ ul{
        right: 0;  /* when the #chk1 checkbox is checked, the 'ul' element inside 'header' slided into view from the right when the hamburger icon is clicked */
    }
}

@media(max-width:600px){
    header .logo{
        font-size: 10px; /* the font size of the logo is reduced to 10px */
        margin-left: 8px; /* margin of 8px on the left side */
    }
    header ul{
        width: 100%;  /*  the ul element takes up the full width of the viewport*/
    }
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: yellow;
    font-family: 'Cinzel Decorative';
    text-align: center;
}

.title{
    font-size: 4em;
    margin-bottom: 20px;
}


.button{
    padding: 10px 20px;
    background-color: yellow;
    color: #000;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 1.2em;
    border-radius: 10px;
    transition: .3s ease;
}

.button:hover{
    background-color: #a00000;
    color: aliceblue;
}

.season{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.2em;
    color: yellow;
    text-transform: uppercase;
    font-family: 'Quicksand';
}

#pg2{
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 70px;
    
}

.categories p{
    text-align: center;
    color: aliceblue;
    font-family: 'Cinzel Decorative';
    font-size: 3em;
    color: yellow;
    padding-top: 40px;
    margin-bottom: 20px;
}

.category{
    display: inline-block;
    padding: 0 50px 0 60px;
    text-align: center;
    position: relative; /* positions the overlay and image correctly */
}

.category img{
    height: 300px;
    width: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1; /* positioned relative with a z-index 1 to ensure it is above the overlay */
}

.category::after{ /* adds the transparent black overlay */
    content: '';
    position: absolute; /* positioned absolutely to cover the entire .category element */
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 2;
}

.category-name{
    font-size: 1.5em;
    margin-top: -100px;
    position: relative;
    color: yellow;
    font-family: 'Cinzel Decorative';
    z-index: 3;  /* positioned relative to a z-index of 3 to ensure it appears above both the image and overlay */
}

#pg3{
    background-color: #41130f;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 20px;
}

#pg3 .recents p{
    text-align: center;
    color: aliceblue;
    font-family: 'Cinzel Decorative';
    font-size: 3em;
    color: yellow;
    padding-top: 40px;
    margin-bottom: 20px;
}

.ring{
    display: inline-block;
    padding: 0 50px 0 40px;
    text-align: center;
    background-color: #661311;
    padding: 10px;
    margin: 60px;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    transition: .5s ease;
}

.ring:hover{
    transform: scale(0.9);
}

.ring img{
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}

.recent-name{
    font-family: 'Cinzel';
    color: yellow;
}

.cart{
    padding: 5px 20px;
    background-color: #000;
    color: yellow;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    transition: .3s ease;
}

.cart:hover{
    background-color: yellow;
    color: #000;
}

#pg4{
    background-image: url(images/pearl-earrings.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}
.sale{
    padding-top: 150px;
    text-align: center;
}

.save{
    font-family: 'Cinzel Decorative';
    font-size: 30px;
    font-weight: 600;
}

button{
    padding: 5px 20px;
    background-color: #000;
    color: yellow;
    text-decoration: none;
    font-family: 'Quicksand';
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    transition: .3s ease;
}

button:hover{
    background-color: #41130f;
    color: yellow;
}

#pg5{
    background-color: black;
    background-size: cover;
    height: 700px;
}

.footer-container{
    display: flex;
}

#conclusion{
    width: 50%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
}

#model img{
    height: 300px;
}

#nice-ring img{
    width: 200px;
    margin-left: -80px;
}

figcaption{
    padding-left: 30px;
    color: aliceblue;
    font-family: 'Quicksand';
}

#footer-text{
    width: 500px;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 250px;
    margin-top: 50px;
    margin-left: 70px;
    background-color: #41130f;
}

.lorem{
    margin-left: 30px;
    font-family: 'Quicksand';
    color: white;
}

.support{
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.support ul{
    list-style-type: none;
    font-family: 'Quicksand';
}

.support ul li a{
    text-decoration: none;
    color: yellow;
    cursor: pointer;
}

.copyright{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 25px;
    font-family: 'Cinzel';
    color: yellow;
    text-align: center;
}

.copyright ul{
    margin-top: 20px;
    
}

.copyright ul li{
    list-style-type: none;
    padding-left: 20px;
}